# EXERCICIO 1

# Executavel
ex1_met/testMET
# bib gerada
ex1_met/libSimpleMET.so
# Obj
ex1_met/*.o
# Temp
ex1_met/*~
# config minha do vscode
.vscode/

# EXERCICIO 2

# Executavel
ex2_track/testTrack
# Bibliotecas geradas
ex2_track/libTrack.so
ex2_track/libSimTrack.so
# Objetos
ex2_track/*.o
# Temporarios
ex2_track/*~

